button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    max-width: 100%;
    width: 500px;
    margin-bottom: 10px;
}
a.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary {
    margin: 10px;
    max-width: 100%;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedSecondary {
    margin: 10px;
}
.FormPay__btnCLose {
    max-width: 100% !important;
    width: 500px;
    margin: 10px;
}
